@import "reset";
@import "variables/global";
@import "theme/normal";
@import "theme/dark";

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font: var(--font-m)
}

.app {
    min-height: 100vh;
    background: var(--background-color);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.inner-page {
    padding: 20px;
}