.Sidebar {
    padding: 20px;
    background-color: var(--inverted-background-color);
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    transition: width .3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switcher {
    display: flex;
}